# misc
.DS_Store
*.pem

# python
__pycache__/
venv
env

# environment variables
.env
.env.local

.pytest_cache
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

*.log