option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app.index:app"

packages:
  yum:
    postgresql-devel: []

container_commands:
  01_start_celery:
    command: |
      echo "Starting Celery..."
      sudo systemctl daemon-reload
      sudo systemctl start celery.service
      if [ $? -ne 0 ]; then
        echo "Failed to start Celery"
        exit 1
      else
        echo "Celery started successfully"
      fi